<link rel="preconnect" href="https://fonts.googleapis.com">
<ion-header>
  <ion-toolbar>
    <ion-menu-button menuId="custom-menu" slot="start"></ion-menu-button>
    <ion-title>accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=".custom-font ">
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{InfoUser.nomComplet}}</ion-card-title>
      <ion-card-subtitle>Etat du diabète</ion-card-subtitle>
    </ion-card-header>
    <br>
    
    <ion-item>
      <ion-label>Etat actuel</ion-label>
      <ion-badge color="danger" slot="end">Urgence</ion-badge>
    </ion-item>
    <ion-card-content>
      <h3>Hyperglycémie</h3>
      <p>Veuillez consulter un médecin dans un bref délai</p> 
    </ion-card-content>
  </ion-card>

  <div class="container-form-btn">
    <button routerLink="/docteur" class="form-btn custom-font">
     mon docteur
    </button>
    
    <button routerLink="/suivi" class="form-btn custom-font">
    ajouter données
    </button>
  </div> 
</ion-content>


