.custom-font {
    font-family: 'Bai Jamjuree', sans-serif;
  }
 
   ion-content {
    --background: #7ab880;

    h2{
        color: green;
        font-weight: bold;
        margin-top: 30px;
        font-size: 20px;
    }
    p{
       color: #117401;
       margin-top: 0px;
    }

    ion-card{
        --background: #A6EFAE;
        border-radius: 30px;
        border: 2px solid green;

    }

    ion-item{
        --background: #A6EFAE;
    }

    ion-card-content{
        color: #104215;
    }

    h4{
        color: #104215;
    }
    ion-icon{
        font-weight: bold;
        font-size: 30px;
    }
    ion-range{
        color: #2bf50c;
    }

    .container-form-btn {
        display: flex;
        justify-content: center;
      }
    
      .form-btn {
        display: flex;
        justify-content: center;
        align-items:center;
        padding: 0 10px;
        min-width: 100px;
        height: 33px;
        border: 2px solid green;
        background-color: #A6EFAE;
        border-radius: 20px;
        font-size: 14px;
        color: #117401;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
        padding-top: 5px;
        transition: all 0.4s;
        box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
      }
    
      .form-btn:hover {
        background-color: #7ab880;
        box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
      }

   }