<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>bonne-pratique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <br>
    <img src="../../assets/Group 3.png">
  <ion-slides [options]="slideOpts" pager="true" paginationType="bulles">
    
    <ion-slide>
      <div class="slide">
        <h2>Pharmacie de l'amitié</h2>
        <p>
          Elle est localisée à Hamdallaye ACI et est ouverte 24h/24. Vous trouverez des médicaments
          adaptés pour le diabète.
        </p> 
        <ion-img src="../../assets/sport.png"></ion-img>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h2>Pharmacie Dr Dieng</h2>
        <p>
          Elle est située en plein coeur de Sotuba et est ouverte 24h/24. Vous trouverez des médicaments
          adaptés pour le diabète.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h2>Pharmacie du Point G</h2>
        <p>
          Elle est située à en plein coeur du Point G et est ouverte 24h/24. Vous trouverez des médicaments
          adaptés pour le diabète.
        </p>
        </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h2>Pharmacie de l'espoir</h2>
        <p>
          Elle se  trouve à Kalancoura et est ouverte 24h/24. Vous trouverez des médicaments
          adaptés pour le diabète.
        </p>
        </div>
    </ion-slide>

  </ion-slides>


  
  
  </ion-content>