<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>bonne-pratique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-slides [options]="slideOpts" pager="true" paginationType="bulles">

    <ion-slide>
      <div class="slide">
        <img src="../../assets/med1.jpg" />
        <h2>Pharmacie de l'amitié</h2>
        <p>
          Elle est localisée à Hamdallaye ACI et est ouverte 24h/24. Vous trouverez des médicaments
          adaptés pour le diabète.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/pharma1.jpg" />
        <h2>Pharmacie de l'amitié</h2>
        <p>
          Elle est localisée à Hamdallaye ACI et est ouverte 24h/24. Vous trouverez des médicaments
          adaptés pour le diabète.
        </p>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
