<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="../../assets/icone2.png"></ion-img>
    </ion-avatar>
    <div class="my-label-container">
      <ion-label class="my-label-title">{{InfoUser.nomComplet}}</ion-label>
      <ion-label color="medium">{{InfoUser.mobile}}</ion-label>
    </div>
    <ion-buttons slot="end">
      <ion-button color="secondary">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item>
    <ion-label class="my-label-title">{{InfoUser.Type}}</ion-label>
   </ion-item>

</ion-content>
