<!-- header -->
<ion-header>
  <ion-toolbar>
    <ion-menu-button menuId="custom-menu" slot="start"></ion-menu-button>
    <div class="container headd" routerLink="/profile" >
      <div class="row" style="display: flex;">
        <div class="col a" ><h3>{{InfoUser.nomComplet}}</h3></div>
        <div class="col"><ion-img src="../../../assets/iconImage/account.png"></ion-img></div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<!-- fin header -->
<ion-content>
  <div class="main_content_div">
    <div class="content_div animated bounceInUp" >
        <ion-label class="info">Profil</ion-label>
        <ion-card>
          <ion-item><b>Nom : </b> &nbsp;&nbsp; {{InfoUser.nomComplet}}</ion-item>
      <ion-item><b>Adresse : </b> &nbsp;&nbsp; {{InfoUser.adresse}}</ion-item>
      <ion-item><b>Age : </b> &nbsp;&nbsp; {{InfoUser.age}} ans</ion-item>
      <ion-item><b>Téléphone: </b> &nbsp;&nbsp; {{InfoUser.mobile}}</ion-item>
      <ion-item><b>Email : </b> &nbsp;&nbsp; {{InfoUser.email}}</ion-item>
      <ion-item><b>Suivie : </b> &nbsp;&nbsp; {{InfoUser.maladies}}</ion-item>
        </ion-card>
        <div class="container-form-btn">
          <button type="submit" class="form-btn custom-font">
            Modifier
          </button>
        </div>

        <div class="container-form-btn">
          <button type="submit" class="form-btn custom-font">
            Suivie
          </button>
        </div>
    </div>
    
  </div> 
   
  
</ion-content>
































<!-- <ion-item>
  <ion-avatar slot="start">
    <ion-img src="../../assets/icone2.png"></ion-img>
  </ion-avatar>
  <div class="my-label-container">
    <ion-label class="my-label-title">{{InfoUser.nomComplet}}</ion-label>
    <ion-label color="medium">{{InfoUser.mobile}}</ion-label>
  </div>
  <ion-buttons slot="end">
    <ion-button color="secondary">
      <ion-icon name="camera" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item>
  <ion-label class="my-label-title">{{InfoUser.Type}}</ion-label>
 </ion-item> -->
