<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>gestes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-list>
      <ion-item>
        <p><strong>Non aux graisses</strong> <br> Privilégiez des repas moins gras.</p><ion-img src="../../assets/diabete2.png"></ion-img>  
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <p><strong>Boire assez d'eau</strong> <br> Ceci permettra d'hydrater votre corps</p><ion-img src="../../assets/verre.png"></ion-img>  
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <p><strong>Penser au Naturel</strong> <br> Consommer plus des boissons naturelles</p><ion-img src="../../assets/jus.png"></ion-img>  
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <p><strong>Non à l'alcool</strong> <br> L'alcool dégrade votre santé et vous nuit</p><ion-img src="../../assets/alcool.png"></ion-img>  
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <p><strong>Evitez trop de sel</strong> <br> Trop de sel nuit à votre santé</p><ion-img src="../../assets/sel.png"></ion-img>  
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <p><strong>Plus d'exercices</strong> <br> Des petits exercices de sport au quotidien</p><ion-img src="../../assets/sport.png"></ion-img>  
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <p><strong>Bien dormir</strong> <br> Ceci vous garantie une bonne santé</p><ion-img src="../../assets/sommeil.png"></ion-img>  
      </ion-item>
    </ion-list>

</ion-content>







<!-- <ion-content>
<ion-list>
    <ion-item>
      <div class="my-container-label">
        <ion-label class="my-label-title">3 repas par jour</ion-label>
        <ion-label color="medium">Essayer de manger <br> 3 repas par jour.
        </ion-label>
      </div>
      <ion-img src="../../assets/diabete.jpg" slot="end"></ion-img>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <div class="my-container-label">
        <ion-label class="my-label-title">Gardez le controle</ion-label>
        <ion-label color="medium">Ceci agrave encore <br> votre état de santé.
        </ion-label>
      </div>
      <ion-img src="../../assets/dia1.png" slot="end"></ion-img>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <div class="my-container-label">
        <ion-label class="my-label-title">Evitez l'alcool</ion-label>
        <ion-label color="medium">Ceci agrave encore <br> votre état de santé.
        </ion-label>
      </div>
      <ion-img src="../../assets/alcool.jpg" slot="end"></ion-img>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <div class="my-container-label">
        <ion-label class="my-label-title">Non aux graisses</ion-label>
        <ion-label color="medium">Ceci agrave encore <br> votre état de santé.
        </ion-label>
      </div>
      <ion-img src="../../assets/diabete2.jpg" slot="end"></ion-img>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <div class="my-container-label">
        <ion-label class="my-label-title">Boire assez d'eau</ion-label>
        <ion-label color="medium">l'eau redonne de la <br> force à votre corps.
        </ion-label>
      </div>
      <ion-img src="../../assets/diabete3.jpg" slot="end"></ion-img>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <div class="my-container-label">
        <ion-label class="my-label-title">Moins de Sel</ion-label>
        <ion-label color="medium">Ceci agrave encore <br> votre état de santé.
        </ion-label>
      </div>
      <ion-img src="../../assets/diabete4.jpg" slot="end"></ion-img>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <div class="my-container-label">
        <ion-label class="my-label-title">Evitez l'alcool</ion-label>
        <ion-label color="medium">Ceci agrave encore <br> votre état de santé.
        </ion-label>
      </div>
      <ion-img src="../../assets/alcool.jpg" slot="end"></ion-img>
    </ion-item>
  </ion-list>

</ion-content> -->
