<link rel="preconnect" href="https://fonts.googleapis.com">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tension</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Evaluation du suivi</h2>
  <p>Veuillez répondre aux questions suivantes afin d'évaluer votre état</p>
  <!-- ================================================================ -->
  <form #donnee="ngForm" (ngSubmit)="calculT(donnee)" novalidate autocomplete="nope" >
    <div class="card">
      <ion-card-content>
        Quel sont vos taux d'aujourd'hui ?
      </ion-card-content>
      <!-- =========================SYSTOLIQUE======================== -->
      <div >
        <h4> <strong>Systolique</strong><b> <span>{{rangeVal}}</span> mmHg </b></h4>
        <ion-range [(ngModel)]="rangeVal" min="100" max="200" pin="true" type="number" ngModel name="valeurA">
          <ion-icon slot="start" size="medium" name="fitness-outline" color="green"></ion-icon>
          <ion-icon slot="end" size="medium" name="fitness-outline" color="danger"></ion-icon>
        </ion-range>
      </div>
      <!-- =========================DIASTOLIQUE======================== -->
      <div>
        <h4><strong>Diastolique</strong><b> <span>{{rangeValu}}</span> mmHg </b></h4>
        <ion-range [(ngModel)]="rangeValu" min="60" max="120" pin="true" type="" ngModel name="valeurB">
          <ion-icon slot="start" size="medium" name="fitness-outline" color="green"></ion-icon>
          <ion-icon slot="end" size="medium" name="fitness-outline" color="danger"></ion-icon>
        </ion-range>
      </div>
  
    </div>
  
    <div class="container-form-btn">
      <button  type="submit" class="form-btn custom-font">
      Validez
      </button>
    </div> 
     <!--routerLink="/tabs"  -->
  
  </form>

</ion-content>
