<link rel="preconnect" href="https://fonts.googleapis.com">
<ion-content fullscreen="true" class="custom-font">
  <h4>Connexion</h4>
<div class="ion-padding">
  <ion-img src="../../assets/logo.png"></ion-img>

  <form class="ion-padding">
    <div class="wrap-input">
    <input class="input" type="text" name="user-name" placeholder="Email ou Téléphone">
    </div>
    <div class="wrap-input">
    <input class="input" type="password" name="password" placeholder="Mot de passe">
    </div> 
    <p class="custom-font"> 
      <a routerLink="/register">Mot de passe oublié?</a>
    </p>
    <div class="container-form-btn">
      <button routerLink="/suivi" class="form-btn custom-font">
      Valider
      </button>
    </div>   
  </form>
</div>
<ion-footer class="ion-no-border">
      <p class="ion-text-center custom-font">Vous n’avez pas de compte ? <br>
        <a routerLink="/register">Inscrivez-vous</a>
      </p>
</ion-footer>

</ion-content>

