.custom-font {
    font-family: 'Bai Jamjuree', sans-serif;
  }
 
   ion-content {
       h4{
        text-align: center;
        color: #117401;
        font-weight: bold;
        margin-top: 40px;
       }
       ion-img{
           height: 128px;

       }
    --background: #7AB880;
  
    .wrap-input {
        margin-top: 20px;
      background-color: #4de75f;
      border-radius: 18px;
      border: solid green;
      margin-bottom: 15px;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
    }

    .wrap-input:hover{
        background-color: #7AB880;
        box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);  
    }

    .input {
      display: block;
      width: 100%;
      background: transparent;
     
      font-size: 13px;
      line-height: 1.2;
      border: none;
      outline: none;
      height: 35px;
      padding: 0 20px 0 23px; 
      color: #117401;
      font-weight: bold;
    }
  
    .container-form-btn {
      display: flex;
      justify-content: center;
    }
  
    .form-btn {
      display: flex;
      justify-content: center;
      align-items:center;
      padding: 0 10px;
      min-width: 100px;
      height: 35px;
      background-color: #4de75f;
      border-radius: 18px;
      font-size: 14px;
      color: #117401;
      font-weight: bold;
      margin-bottom: 15px;
      text-transform: uppercase;
      padding-top: 5px;
      border: solid green;
      transition: all 0.4s;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
    }
  
    .form-btn:hover {
      background-color: #7AB880;
    //   color: #fff;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
    }

    a{
        text-decoration: none;
        color: #117401;
        font-weight: bold;
    }
    p{
        font-size: 14px;
        color:#A6EFAE ;
    }

  }