  <ion-split-pane contentId="main-content">
    <ion-menu menuId="custom-menu" contentId="main-content" type="overlay">
        <ion-content>
            <ion-list class="ion-text-center main-header">
                <div align="center">
                    <ion-avatar>
                        <img src="assets/icone2.png" alt="">
                    </ion-avatar>
                    <ion-label color="white">
                        Hilaire Zaflex
                        <p>
                            <ion-text>83092295 | zaflex@test.com</ion-text>
                        </p>
                    </ion-label>
                </div>
            </ion-list>

            <ion-menu-toggle class="menu-items" [autHide]="false" 
            *ngFor="let page of pages; let i = index">
                <ion-item
                *ngIf="!page?.route"
                 color="primary"
                 class="ion-padding-start"
                 lines="none"
                 detail="false"
                 [routerLink]="[page.url]"
                 routerDirection="root"
                 routerLinkActive="selected">
                 <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
                 <ion-label>{{page.title}}</ion-label>
                </ion-item>
                <ion-item
                *ngIf="page?.route"
                 color="primary"
                 class="ion-padding-start"
                 lines="none"
                 detail="false"
                 (click)="signOut()">
                 <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
                 <ion-label>{{page.title}}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-content>
        <ion-footer class="ion-no-border">
            <ion-toolbar color="secondary">
                <ion-item lines="none" color="secondary">
                    <ion-label>Reach Us</ion-label>
                    <ion-icon slot="end" name="call-outline"></ion-icon>
                    <ion-icon slot="end" name="mail-outline"></ion-icon>
                    <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
                </ion-item>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>


<!-- <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="primary">
      <ion-item-divider color="secondary">Mes options</ion-item-divider>
      <ion-list color="primary">

        <ion-item routerLink="/accueil" color="green">
          <ion-icon name="home" slot="start"></ion-icon>
            <ion-label class="my-label-title">Accueil</ion-label>
        </ion-item>

        <ion-item routerLink="/conseil-sante" color="green">
          <ion-icon name="card" slot="start"></ion-icon>
            <ion-label>Conseil</ion-label>
        </ion-item>

        <ion-item routerLink="/docteur" color="green">
          <ion-icon name="medkit-outline" slot="start"></ion-icon>
            <ion-label>Mon docteur</ion-label>
        </ion-item>

        <ion-item-divider color="secondary">Mon compte</ion-item-divider>
        <ion-item routerLink="/profile" color="green">
          <ion-icon name="man" slot="start"></ion-icon>
            <ion-label>Mon profile</ion-label>
        </ion-item>

        <ion-item color="green">
          <ion-icon name="send-outline" slot="start"></ion-icon>
            <ion-label>Ma messagérie</ion-label>
        </ion-item>

        <ion-item color="green">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Se déconnecter</ion-label>
        </ion-item>
     
      </ion-list>
    </ion-content>
  </ion-menu> -->