<link rel="preconnect" href="https://fonts.googleapis.com">


<ion-content fullscreen="true" class="custom-font">
  
      
      <div class="ion-padding">
        <h4>Enregistrement</h4>
        <form #user="ngForm" (ngSubmit)="SaveData(user)" novalidate autocomplete="nope" class="ion-padding">

          <div class="wrap-input">
          <input class="input" type="text" name="nomComplet" placeholder="Nom Complet"  ngModel required autocomplete>
          </div>

          <div class="wrap-input">
          <input class="input" type="text"  name="email" placeholder="Email"  ngModel required autocomplete>
          </div>

            <div class="wrap-input">
              <ion-select class="col1" name="Type" placeholder="Type de compte"  ngModel required >
                <ion-select-option value="UTILISATEUR">Utilisateur</ion-select-option>
                <ion-select-option value="MEDECIN">Medecin</ion-select-option>
              </ion-select>
            </div>
 
            <div class="wrap-input">
              <input class="input" name="mobile" type="phone" placeholder="Téléphone"  ngModel required>
              </div>

            <div class="wrap-input">
              <input class="input" type="text" placeholder="Addresse" ngModel name="adresse" required>
              </div>
              <div class="wrap-input">
                  <ion-select class="col1" name="specialite" placeholder="Specialite"  ngModel required >
                    <ion-select-option value="DIABETOLOGUE">Diabetologue</ion-select-option>
                    <ion-select-option value="CARDIOLOGUE">Cardiologue</ion-select-option>
                  </ion-select>
                </div>
          <div class="wrap-input">
          <input class="input" type="password" ngModel name="motDePasse" placeholder="Mot de passe" required >
          </div> 
          
          <div class="wrap-input">
            <input class="input" type="date" placeholder="Âge" name="age" ngModel>
          </div> 

          <div class="check">
            <input type="checkbox" />Acceptez de recevoir des rappels
          </div>

          <div class="container-form-btn">
            <button type="submit" class="form-btn custom-font">
            Valider
            </button>
          </div>   
          <p class="ion-text-center custom-font">Avez-vous un compte? <a routerLink="/login">Connectez-vous</a></p>
        </form>
      </div>
</ion-content>
