<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>conseil-sport</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
  <ion-slides [options]="slideOpts" pager="true" paginationType="bulles">

    <ion-slide>
      <ion-img src="../../assets/woman.png"></ion-img>  
    </ion-slide>

    <ion-slide>
      <ion-img src="../../assets/sport1.png"></ion-img> 
    </ion-slide>

    <ion-slide>
      <ion-img src="../../assets/sport2.png"></ion-img>  
    </ion-slide>

    <ion-slide>
      <ion-img src="../../assets/sport3.png"></ion-img>  
    </ion-slide>

  </ion-slides>

  <ion-card>
    <p>La pratique du sport est très bénéfique pour une santé optimale.
      nous vous recommandons des pratiques de sport telles que la Marche, 
      les gymnastiques, la course à pieds et le marathon. Tous ceci vous 
      permettra de garder une bonne forme et avoir un corps sain et une vie heureuse.
    </p>
  </ion-card>

</ion-content>
