
<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>conseils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-font">
  <br>
  <img src="../../assets/logoo.png">
  <div class="container">
    <h6>Conseils utiles</h6>
    <div class="row">
      <div class="col-sm">
        <ion-card routerLink="/conseil-sport" >
          <ion-img src="../../assets/img11.png"></ion-img>
          <p>Pratique du sport</p>
        </ion-card>
      </div>

    <div class="col-sm">
      <ion-card routerLink="/pharmacie">
        <ion-img src="../../assets/img12.png"></ion-img>
        <p>S.O.S Pharmacie</p>
      </ion-card>
    </div>

    <div class="col-sm">
      <ion-card routerLink="/manger">
        <ion-img src="../../assets/img13.png"></ion-img>
        <p>Manger sain et propre</p>
      </ion-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <ion-card routerLink="/bonne-pratique" >
        <ion-img src="../../assets/img14.png"></ion-img>
        <p>Les bonnes pratiques</p>
      </ion-card>
    </div>

  <div class="col-sm">
    <ion-card routerLink="/gestes">
      <ion-img src="../../assets/img16.png"></ion-img>
      <p>Gestes pratiques</p>
    </ion-card>
  </div>

  <div class="col-sm">
    <ion-card routerLink="/clinique">
      <ion-img src="../../assets/img17.png"></ion-img>
      <p>Cliniques spécialisées</p>
    </ion-card>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <ion-card routerLink="/conseil-sport" >
      <ion-img src="../../assets/img11.png"></ion-img>
      <p>Pratique du sport</p>
    </ion-card>
  </div>

<div class="col-sm">
  <ion-card routerLink="/pharmacie">
    <ion-img src="../../assets/img12.png"></ion-img>
    <p>S.O.S Pharmacie</p>
  </ion-card>
</div>

<div class="col-sm">
  <ion-card routerLink="/manger">
    <ion-img src="../../assets/img13.png"></ion-img>
    <p>Manger sain et propre</p>
  </ion-card>
</div>
</div>



</div>

</ion-content>
