.custom-font {
    font-family: 'Montserrat Alternates', sans-serif;
  }

ion-content{
    .custom-font {
        font-family: 'Montserrat Alternates', sans-serif;
      }
   
    --background: #035a4e;
.row {
    display: flex;
    justify-content: space-between;
    margin: 4px;
    //margin-right: 6em
  }
 
  img{
    margin: 2px 4px;
    width: 267px;
  }
  
  ion-img{
    height: 30px;
}
p{
    text-align: center;
    color: rgb(7, 187, 7);
}
p:hover{
  color: #f6faf7;
}

h6{
  color: rgb(7, 187, 7);
}

ion-card{
    width: 80px;
    height: 80px;
    background: #f6faf7;
    margin: 2px 4px;

}

ion-card:hover{
  background: #48e970;
  color: #f6faf7;
}

}