<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>clinique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-slides [options]="slideOpts" pager="true" paginationType="bulles">

    <ion-slide>
      <div class="slide">
        <img src="../../assets/clin1.jpg" />
        <h2>Clinique Pasteur</h2>
        <p>
          Elle est localisée à Hamdallaye ACI et est ouverte 24h/24. Vous trouverez des médicaments
          adaptés pour le diabète.
        </p>
        <ion-button href="tel:+22383092295" color="success"> Appellez maintenant</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/clin2.jpg" />
        <h2>CHU Gabriel Touré</h2>
        <p>
          Elle est située en plein coeur de Darsalam et est ouverte 24h/24. Vous trouverez des médicaments
          adaptés pour le diabète.
        </p>
        <ion-button href="tel:+22383092295" color="success"> Appellez maintenant</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/clin3.jpg" />
        <h2>CHU du Point G</h2>
        <p>
          Elle est située à en plein coeur du Point G et est ouverte 24h/24. Vous trouverez des médicaments
          adaptés pour le diabète.
        </p>
        <ion-button href="tel:+22383092295" color="success"> Appellez maintenant</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/clin4.jpg" />
        <h2>Hôpital du Mali</h2>
        <p>
          Situé à Missabougou, cet hôpital est ouvert 24h/24. Vous trouverez des médicaments
          adaptés pour le diabète.
        </p>
        <ion-button href="tel:+22383092295" color="success"> Appellez maintenant</ion-button>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
