<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>manger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts" pager="true" paginationType="bulles">

    <ion-slide>
      <div class="slide">
        <p>
          La consommation des fruits est très bénéfique.
          pour l'organisme et votre santé.
        </p>
        <img src="../../assets/vege3.png" />
        <h3>Maximun 8 fruits par jour</h3>
        <p>
          Les fruits vous apportent des vitamines qui renforceront 
          votre système immunitaire et garantira une bonne santé.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <p>
          Dans vos repas, mettez un accent sur les plats végétariens
          et des plats légers pour votre consommation.
        </p>
        <img src="../../assets/vege2.jpg" />
        <h3>Un régime végétarien</h3>
        <p>
          Ceci vous garantie un meilleur équilibre de votre corps et vous
          procure une bonne santé.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <p>
          De part ses vertus thérapeutique, le miel constitue un idéal pour
          vous procurer une santé iéale.
        </p>
        <img src="../../assets/vege5.jpg" />
        <h3>Le miel comme votre sucre</h3>
        <p>
          Vous pouvez l'utiliser dans tous vos usages dans l'optique de remplacer
          votre sucre ordinaire.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <p>
          Le poisson redonne à votre corps ses capacités à produire des nutriments
          pour votre système immunitaire.
        </p>
        <img src="../../assets/vege4.jpg" />
        <h3> 4 poissons par semaine</h3>
        <p>
          Alors manger régulièrement du poisson pour avoir toujours un corps
          plein d'énergie naturel.
        </p>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
