<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter Patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="content_div animated bounceInUp" >
      <div class="wrap-input">
        <input class="input" type="text" name="mobile" placeholder="Email ou Téléphone" ngModel required autocomplete>
        </div>
        <div class="container-form-btn">
          <button type="submit" class="form-btn custom-font">
            Ajouter
          </button>
        </div>
        <ion-card>
     <ion-item>geg</ion-item>
     <ion-item>geg</ion-item>
     <ion-item>geg</ion-item>
        </ion-card>
    </div>
    
  </div>
  </ion-content>
