<link rel="preconnect" href="https://fonts.googleapis.com">
<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Mon docteur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5>Mon docteur</h5>
 <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img7.jpg" />
      </ion-avatar>
      <ion-label>
        <h3><b>Dr Hilaire Zaflex</b></h3>
        <p> <b>Address:</b>Sotuba</p>
        <p> <b>Spécialité:</b>Neurologue</p>
        <p> <b>Contact:</b>83092295</p>
        <button class="form-btn">
          Envoyer un message
         </button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img7.jpg" />
      </ion-avatar>
      <ion-label>
        <h3><b>Dr Hilaire Zaflex</b></h3>
        <p> <b>Address:</b>Sotuba</p>
        <p> <b>Spécialité:</b>Neurologue</p>
        <p> <b>Contact:</b>83092295</p>
        <button class="form-btn">
          Envoyer un message
         </button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img7.jpg" />
      </ion-avatar>
      <ion-label>
        <h3><b>Dr Hilaire Zaflex</b></h3>
        <p> <b>Address:</b>Sotuba</p>
        <p> <b>Spécialité:</b>Neurologue</p>
        <p> <b>Contact:</b>83092295</p>
        <button class="form-btn">
          Envoyer un message
         </button>
      </ion-label>
    </ion-item>

</ion-content>