<!-- header -->
<ion-header>
  <ion-toolbar>
    <ion-menu-button menuId="custom-menu" slot="start"></ion-menu-button>
    <div class="container headd" routerLink="/profile" >
      <div class="row" style="display: flex;">
        <div class="col a" ><h3></h3></div>
        <div class="col" *ngIf="InfoUser.Type==='MEDECIN'"><ion-img src="../../../assets/iconImage/doctor.png"></ion-img></div>
        <div class="col" *ngIf="InfoUser.Type==='UTILISATEUR'"><ion-img src="../../../assets/iconImage/account.png"></ion-img></div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<!-- fin header -->

<ion-content>
  <div class="container etat">
    <div class="row">
      <div class="container-form-btn">
        <button *ngIf="InfoUser.Type==='UTILISATEUR'" routerLink="/ajout-docteur" class="form-btn custom-font">
        Ajouter
        </button>
        <button *ngIf="InfoUser.Type==='MEDECIN'" routerLink="/ajout-patient" class="form-btn custom-font">
          Ajouter
          </button>
      </div> 
    </div>
    <div class="wrap-input">
      <input class="input"placeholder="Recherche" type="text" name="mobile"  autocomplete="off" >
    </div>
    <div *ngIf="InfoUser.Type==='UTILISATEUR'" class="row">
      <h3>Mes Medecins</h3>
    </div>
    <div *ngIf="InfoUser.Type==='MEDECIN'" class="row">
      <h3>Mes Patients</h3>
    </div>
    <div class="row" >
      
    </div>

        <!-- Utilisateur -->
        <ion-list >
          <ion-item-sliding *ngFor="let items of userContact">
    <ion-item *ngIf="InfoUser.Type==='UTILISATEUR'">
      
      
      <div class="container">
        <div class="row" >
          <div class="col-md-auto img">
           
            <div [routerLink]="['/details',items.medecin.id]" class="col-md-auto img "><img src="../../../assets/iconImage/doctor.png"/></div>
         
          </div>
          <div class="col">
            <a href="tel:{{items.medecin.mobile}}">
              <ion-label>
                <h3><b>{{items.medecin.nomComplet}}</b></h3>
                <p>{{items.medecin.mobile}}</p>
              </ion-label>
            </a>
          </div>
        </div>
      </div>

      
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option  [routerLink]="['/details',items.medecin.id]" color="primary">
        <ion-icon name="eye"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option (click)="showAlert(items.id)" color="primary">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
      
      <!-- Medecin -->
      <ion-list >
        <ion-item-sliding *ngFor="let items of medecinContact" >
    <ion-item *ngIf="InfoUser.Type==='MEDECIN'">
      
      
      <div class="container">
        <div class="row" >

            <div [routerLink]="['/details',items.utilisateur.id]" class="col-md-auto img" ><img src="../../../assets/iconImage/account.png"/></div>

         
          <div class="col">
            <a href="tel:{{items.utilisateur.mobile}}">
              <ion-label>
                <h3><b>{{items.utilisateur.nomComplet}}</b></h3>
                <p>{{items.utilisateur.mobile}}</p>
              </ion-label>
            </a>
            
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option  [routerLink]="['/details',items.utilisateur.id]" color="primary">
        <ion-icon name="eye"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option (click)="showAlert(items.id)" color="primary">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<!-- ======================= -->

  </div>
  </ion-content>
