<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter Medecin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="content_div animated bounceInUp" >
      <form #user="ngForm" (ngSubmit)="SaveData(contact)" novalidate autocomplete="nope" class="ion-padding">
      <div class="wrap-input">
        <input class="input" type="text" name="mobile" ngModel placeholder="Email ou Téléphone" ngModel required autocomplete>
        </div>
        <div class="container-form-btn">
          <button type="submit" class="form-btn custom-font">
            Ajouter
          </button>
        </div>
      </form>


        <ion-card *ngFor="let item of medecin">
     <ion-item >
       <ion-label>{{item?.nomComplet}}</ion-label>
       </ion-item>
  
       
        <ion-label>{{item?.specialite}} </ion-label>
        <ion-label>{{item?.email}} &nbsp; {{item?.mobile}}</ion-label> 
        
     
        </ion-card>
    </div>
    
  </div>
  </ion-content>
